<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="mnuTheme" title="Change theme">
    <mat-icon>format_color_fill</mat-icon>
  </button>

  <mat-menu #mnuTheme="matMenu">
    <button
      *ngFor="let theme of themes"
      mat-menu-item
      (click)="activeTheme = theme.value"
    >
      {{ theme.name }}
    </button>
  </mat-menu>

  <button mat-icon-button title="Format code" (click)="codeEditor?.formatDocument()">
    <mat-icon>format_align_left</mat-icon>
  </button>

  <mat-form-field>
    <mat-label>Example</mat-label>
    <mat-select [(value)]="selectedFile" (selectionChange)="onSelectionChange($event)">
      @for (file of files; track file) {
        <mat-option [value]="file">{{file.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<div class="page-layout">
  <div class="page-layout-content">
    <ng-container *ngIf="selectedModel">
      <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate">
      </mat-progress-bar>
      <ngs-code-editor
        [codeModel]="selectedModel"
        [theme]="activeTheme"
        [options]="options"
        (valueChanged)="onCodeChanged($event)"
        (loaded)="onEditorLoaded($event)"
        (codeModelChanged)="onCodeModelChanged($event)"
      />
    </ng-container>
  </div>
</div>
