<div>
  <mat-form-field>
    <mat-select placeholder="Theme" [(value)]="activeTheme">
      <mat-option *ngFor="let theme of themes" [value]="theme.value">
        {{ theme.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <mat-select
      [placeholder]="'Language'"
      [(value)]="selectedModel"
      (selectionChange)="onDemoChanged($event)">
      <mat-option *ngFor="let model of demos" [value]="model">
        {{ model.language }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- <input type="file" #file style="display: none" accept=".ts, .js" (change)="onFileSelected($event)"> -->
<!-- <button mat-raised-button (click)="onLoadClicked()">Load</button> -->

<div>
  <ngs-code-editor
    [codeModel]="selectedModel"
    [theme]="activeTheme"
    [options]="options"
    (valueChanged)="onCodeChanged($event)">
  </ngs-code-editor>
</div>
